@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

/* BLOCKS */

body {
    font-family: "Lato", sans-serif;
    background-color: var(--main-light-bg);
    -webkit-font-smoothing: antialiased;
}

/* VARIABLES */

:root {
    --main-light-bg: #f8f8f8;
    --primary-light-bg: #ffffff;
    --light-gradient-bg: linear-gradient(to right, #118dff, #60b3ff);
    --primary-light-text: #161616;
    --secondary-light-text: #303030;
    --light-table-header: #313131;

    --main-dark-bg: #0c1020;
    --primary-dark-bg: #0b1824;
    --dark-gradient-bg: linear-gradient(to right, #102c46, #12426d);
    --primary-dark-text: #f3f3f3;
    --secondary-dark-text: #f8f8f8;
    --dark-table-header: #b3b3b3;

    --font-small: 14px;
    --font-medium: 18px;
    --font-big: 20px;

    --shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

/* UTILITY CLASSES */

.no-scroll {
    overflow-y: hidden;
}

.main-container {
    width: 90%;
    margin-inline: auto;
    padding-inline: 10px;
}

.txt-center {
    text-align: center;
}

.box {
    font-family: "Montserrat", sans-serif;
    font-size: var(--font-medium);
    background-color: var(--primary-light-bg);
    box-shadow: var(--shadow);
    border-radius: 10px;
    margin-block: 20px;
    text-align: justify;
    padding: 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.box .section-title {
    font-size: var(--font-big);
}


@media screen and (min-width: 768px) {
    .main-container {
        width: 70%;
    }

    .box {
        padding: 50px 90px;
    }

}

/* MENU */

.desktop-menu {
    display: none;
}

.hamburger-wrapper {
    background-color: transparent;
    width: 100%;
    height: 55px;
    background-color: var(--light-gradient-bg);
    background-image: var(--light-gradient-bg);
}

.hamburger {
    display: flex;
    flex-flow: column;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 100;
}

.hamburger .bar {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    margin: 3px 0;
    transition: 0.5s;
}

.hamburger.active {
    position: fixed;
}

.hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-3px, 8px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-3px, -8px);
}

.menu {
    background-color: var(--light-gradient-bg);
    background-image: var(--light-gradient-bg);
    z-index: 1;
    font-weight: 600;
    color: #ffffff;
    font-size: var(--font-medium);
}

.logo {
    width: 70px;
    height: 100%;
    margin-left: 20px;
    align-self: center;
}

.logo img {
    width: 100%;
    height: 100%;
}

.mobile-menu {
    position: fixed;
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100dvh;
    height: 100dvh;
    transition: 0.5s;
    overflow-y: scroll;
    padding-top: 60px;
    padding-bottom: 30px;
}

.mobile-menu > * {
    display: block;
    width: fit-content;
    text-align: center;
    margin-inline: auto;
    padding-block: 30px;
}

.mobile-menu nav ul li p {
    padding-block: 30px;
}

.mobile-menu.active {
    left: 0;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .hamburger-wrapper {
        display: none;
    }

    .desktop-menu {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding-inline: 10%;
    }

    .desktop-menu nav {
        width: 45%;
    }

    .desktop-menu nav ul {
        display: flex;
        gap: 70px;
        justify-content: space-evenly;
    }

    .desktop-menu nav ul li p {
        display: inline-block;
    }
}

/* MAIN */

.intro-box {
    transition: 300ms;
}


@media screen and (min-width: 1200px) {
    .main-container {
        margin-top: 60px;
    }

    /*     .fun-fact-box {
        max-width: 80%;
        margin-inline: auto;
    } */
}

/* SLIDER */

[class^="number-slide"],
[class*=" number-slide"] {
    height: fit-content;
    width: 100%;
}


/* TOP RATING */

#top_rating {
    margin-block: 20px;
}

.card {
    height: 420px;
    min-width: 250px;
    max-width: 360px;
    margin: 20px auto;
    background-color: var(--primary-light-bg);
    border-radius: 10px;
    box-shadow: var(--shadow);

    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    transition: 300ms;
}

.card .main-data {
    flex-basis: 80%;
    margin-top: 60px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    font-size: var(--font-big);
    font-weight: 300;
}

.card .company-name {
    font-size: 24px;
}

.card .additional-data-container {
    width: 100%;
    flex-basis: 20%;
    border-top: 1px solid var(--dark-table-header);
    color: var(--secondary-light-text);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card .additional-data-container .additional-data {
    line-height: 80px;
    text-align: center;
}

.card .additional-data-container .additional-data:nth-child(2) {
    border-inline: 1px solid var(--dark-table-header);
}



@media screen and (min-width: 1024px) {
    .flex-layout {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    .card {
        flex-basis: 32%;
        height: 400px;
        min-width: 0;
        max-width: 270px;
        margin: 20px 0;
    }
}


@media screen and (min-width: 1200px) {
    .card {
        max-width: 340px;
    }
}

.show-more {
    color: #118dff;
    cursor: pointer;
    width: fit-content;
}


/* RANKING TABLE */

.responsive-table .table-row {
    border-radius: 5px;
    padding-block: 25px;
    padding-inline: 25px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    color: var(--primary-light-text);
}

.table-header {
    padding-inline: 25px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: var(--font-small);
    letter-spacing: 0.03em;
    color: var(--light-table-header);

}

.table-row {
    background-color: var(--primary-light-bg);
    box-shadow: var(--shadow);
    transition: 300ms;
}

.box:hover,
.card:hover,
.table-row:hover {
    box-shadow: none;
}

.col-1 {
    flex-basis: 10%;
    padding-inline: 10px 20px;
    min-width: 90px;
}

.col-2 {
    flex-basis: 30%;
    padding-left: 20px;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 20%;
}

.col-5 {
    flex-basis: 20%;
}

.col-6 {
    flex-basis: 20%;
}

@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }

    .responsive-table .table-row {
        display: block;
    }

    .col {
        flex-basis: 100%;
    }

    .col {
        display: flex;
        padding: 10px 0;
    }

    .col:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

/* FOOTER */

.footer {
    margin-top: 60px;
    padding: 60px 10%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

    background-color: var(--light-gradient-bg);
    background-image: var(--light-gradient-bg);
    color: #ffffff;
    font-size: var(--font-small);
}

.ft-links {
    width: 100%;
    order: 1;
}

.ft-contact *,
.ft-links * {
    margin-block: 15px;
}

@media screen and (min-width: 768px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: none;
    }

    .ft-links {
        order: 0;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        gap: 20px;
    }

    .ft-links * {
        white-space: nowrap;
    }

    .ft-contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        text-align: start;
    }

    .ft-contact h3 {
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    .ft-links {
        grid-template: none / repeat(4, 1fr);
    }

    .phone-number {
        display: inline-block;
    }

    .phone-number:last-of-type {
        padding-left: 15px;
    }
}